html {
	background-color: rgb(13, 17, 23);
	color: white;
}

header {
  margin-bottom: 70px;
}
header nav {
  margin: 0 auto;
  max-width: 1030px;
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}
.navLeft {
  display: flex;
}
header a {
  text-decoration: none;
}
.navLeft img {
  width: 48px;
  height: 48px;
  margin-right: 20px;
}
.navLeft > .navTitle {
  margin: 0;
  align-self: center;
  font-family: Work Sans, sans-serif;
  font-size: 20px;
}
.navRight {
  list-style-type: none;
  display: flex;
  margin: 0;
  align-self: center;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #676767;
  padding: 3px 0 0;
}
.navRight li {
  padding-left: 40px;
}
main {
	max-width: 1000px;
	margin: auto;
}
a, a:visited {
	color: white;
	text-decoration: underline;
}
a:hover {
	color: gray;
}

.container {
	display: block;
}
.contacts {
    flex: 1 1;
}
.contacts div {
	display: flex;
    align-items: center;
}
.contacts div i {
/*	width: 20px;
	height: 20px;*/
	padding-right: 4px;
}


.fa-solid.small {
	font-size:70%;
}
.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.text-centre {
	text-align: center;
}

h1 {
    text-align: center;
    color: #d4c0d9;
}
/*h2 {
	border-bottom: 1px solid white;
}*/
h2 {
    color: #b3d0ed;
}
h3 {
    color: #f5ff8d;
}
p {
    margin: 10px 0;
}
.quote {
    font-style: italic;
    color: #f5ff8d;
    margin: 20px;
    text-align: center;
    font-size: 1.2em;
}
.epic {
    font-weight: bold;
    color: #e74c3c;
}